<DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<title>login</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
	integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
	crossorigin="anonymous" />
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
	integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
	crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
	integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
	crossorigin="anonymous"></script>
<script type="text/javascript">
	$(function() {
		$("#registerbtn").click(function() {
			window.location.href = 'register';
		})
	})
</script>
</head>
<body>
	<div class="container">
		<form action="${loginProcessingUrl}" method="post">
			<fieldset>
				<legend>Please Login</legend>
				<!-- use param.error assuming FormLoginConfigurer#failureUrl contains the query parameter error -->
				<div th:if test="${param.error != null}">
					<div>
						Failed to login.
						<div th:if test="${SPRING_SECURITY_LAST_EXCEPTION != null}">
							Reason: <span th:text="${SPRING_SECURITY_LAST_EXCEPTION.message}"></span>
						</div th:if>
					</div>
				</div th:if>
				<!-- the configured LogoutConfigurer#logoutSuccessUrl is /login?logout and contains the query param logout -->
				<div th:if test="${param.logout != null}">
					<div>You have been logged out.</div>
				</div th:if>
				<p>
					<label for="username">Username</label> <input type="text"
						th:field="${user.username}" />
				</p>
				<p>
					<label for="password">Password</label> <input type="password"
						th:field="${user.password}" />
				</p>

				<div>
					<button type="submit" class="btn">Log in</button>
					<button id="registerbtn" type="button" class="btn btn-primary">Register</button>
				</div>
			</fieldset>
		</form>
	</div>
</body>
</html>